TOPIC: String Based Assignment Problem

In [6]:
#1. Write a program to reverse a string.

a = 'PWSKILLS'
a = a[::-1]  #used slicing for revercing the string
print(a) # output

SLLIKSWP

In [12]:
#2. Check if a string is a palindrome.

b = input('enter any palindrome word') # taken input
b_p = b[::-1] #reversed the string
if b == b_p: # checking if palindrome or not 
    print('The entered string is palindrome') # if yes - print as OP
else :
    print('The entered string is not palindrome') # if not - print as OP

enter any palindrome word PHYYHP

The entered string is palindrome

In [14]:
# 3. Convert a string to uppercase.

c = input('enter any word in lower case') # taken input in lower case
print(c.upper()) # converted and printed in uppercase

enter any word pwskills

PWSKILLS

In [16]:
#4. Convert a string to lowercase.

d = input('enter any word in upper case') # taken input in upper case
print(d.lower()) # converted and printed in lowercase

enter any word in upper case PWSKILLS

pwskills

In [34]:
#5. Count the number of vowels in a string.

e = input('Enter any word') # input
f = ('a','e','i','o','u') # listed vovels
count = 0  # temprory counter as 0
for x in e:  # iterating the alphabests of word
    if x in f : # checking if alphabet is among vovel stated
        count = count + 1 # if matched increacing the counter
    else :
        pass   # if not found passing to next itteration
    
print('you have ' + str(count) +  ' vovels in the entered word') # output

Enter any word pwskills

you have 1 vovels in the entered word

In [53]:
#6. Count the number of consonants in a string.

g = input('Enter any word') # input
f = ('a','e','i','o','u') # listed vovels
count1 = 0 # temprory counter
for y in g:  # iterating the alphabests of word
    if y not in f : # checking if alphabet is among vovel stated
        count = count + 1  # if matched adding in counter
    else :
        pass   # if not found passing to next itteration
    
print('you have ' +  str(count) +  ' consonants in the entered word') # output

Enter any word pwskills

you have 7 consonants in the entered word

In [63]:
#7. Remove all whitespaces from a string.

h = input('Enter any sentence') # input
h = h.replace(' ', '') # replace space using predeined function replace
print(h) # output

Enter any sentence dsc dcsd dc

dscdcsddc

In [67]:
#8. Find the length of a string without using the `len()` function.

i = input('Enter any word') # input
count_i = 0 # counter
for z in i: # itteration of the alphabets in word
    count_i = count_i + 1 # add to the counter

print(count_i)

Enter any word pwskills

8

In [74]:
#9. Check if a string contains a specific word.

j = input('Enter any sentence')
k = input('word to be found')
if k in j:
    print('yes the word is part of string')
else:
    print('no the word is not part of string')

Enter any sentence pw skkills
word to be found pw

yes the word is part of string

In [76]:
#10. Replace a word in a string with another word.

m = input('Enter any sentence') # input
n = input('Enter any word you want to replaace : ') # input the word need to replace
o = input('Enter any word you want to replaace with ' + n + ' : ') # enter the word to replace to
p = m.replace(n,o) # replace space using predeined function replace
print(p) # output

Enter any sentence hi, i learn with PWSKILLS
Enter any word you want to replaace :  hi
Enter any word you want to replaace with hi :  hello

hello, i learn with PWSKILLS

In [4]:
#11. Count the occurrences of a word in a string.

q = input('Enter any sentence')# input
r = input('Enter the word to check repetation for : ') 
p = q.split()
counter = 0
for x in p:
    if x == r:
        counter = counter + 1
    else:
        pass

print(counter)

Enter any sentence Hi i am learning from PW skills
Enter the word to check repetation for :  PW

1

In [29]:
#12. Find the first occurrence of a word in a string.

string_1 = str(input('Enter the sentence : '))
string_2 = str(input("Enter the word you want to find the first occurance for : "))
list_1 = string_1.split()
try:
    print('First occurrence of a word in a string is at ' + str(int(list_1.index(string_2)) + 1) + ' position')

except Exception :
    print('invalid input')

Enter the sentence :  hi am rishi
Enter the word you want to find the first occurance for :  hi

First occurrence of a word in a string is at 1 position

In [60]:
#13. Find the last occurrence of a word in a string.

string_1 = str(input('Enter the sentence : '))
string_2 = str(input("Enter the word you want to find the last occurance for : "))
list_1 = string_1.split()
list_1.reverse()
try:
    print('last occurrence of a word in a string is at ' + str(len(list_1)-(list_1.index(string_2))) + ' position')

except Exception :
    print('invalid input')

Enter the sentence :  i eork at pw skills and i am rishi
Enter the word you want to find the last occurance for :  i

last occurrence of a word in a string is at 7 position

In [61]:
#14. Split a string into a list of words.

string_1 = string_1 = str(input('Enter the sentence : '))
print(string_1.split())

Enter the sentence :  hi am rishi

['hi', 'am', 'rishi']

In [5]:
#15. Join a list of words into a string.

string_1 = input("Enter the list of words seperated by " + " , " +"and no space : " )
list_1 = string_1.split(',')
print("your list is " + str(list_1))
string_2 = ''
for x in list_1:
    string_2 = string_2+x+ ' '

print('After convertion from list to string : ',string_2)

Enter the list of words seperated by  , and no space :  hi, i, am, rishi, learning, from ,PW, skills

your list is ['hi', ' i', ' am', ' rishi', ' learning', ' from ', 'PW', ' skills']
After convertion from list to string :  hi  i  am  rishi  learning  from  PW  skills

In [10]:
'''16. Convert a string where words are separated by spaces to one where words
are separated by underscores.'''

string_1 = input('Enter string where words are separated by spaces : ')
string_2 = string_1.replace(' ','_')
print('after replacing spaace to _ : ',string_2)

Enter string where words are separated by spaces :  hi am rishi

after replacing spaace to _ :  hi_am_rishi

In [28]:
#17. Check if a string starts with a specific word or phrase.

string_1 = input('Enter any sentence : ')
string_2 = input('Enter the word you want to check for : ')
list_1 = string_1.split()
list_2 = string_2.split()

if list_1[0]==string_2:
    print('yes')

elif string_2 in string_1:
    if list_1[0] == list_2[0]:
        print('yes')
    else:
        print('NO')
else:
    print('NO')

Enter any sentence :  hi am rishi
Enter the word you want to check for :  hi am

yes

In [38]:
#18. Check if a string ends with a specific word or phrase.

string_1 = input('Enter any sentence : ')
string_2 = input('Enter the word you want to check for : ')
list_1 = string_1.split()
list_2 = string_2.split()

if list_1[-1]==string_2:
    print('yes')

elif string_2 in string_1:
    if list_1[(len(list_1)-len(list_2))::] == list_2:
        print('yes')
    else:
        print('NO')
    
else:
    print('NO')

Enter any sentence :  hi am rishi
Enter the word you want to check for :  rishi

yes

In [46]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

string_1 = input('Enter any sentence : ')
a = string_1.title()
print('After convertion to title case : ',a)

Enter any sentence :  hello world

After convertion to title case :  Hello World

In [5]:
#20. Find the longest word in a string.

string_1 = input('Enter any sentence : ')
list_1 = string_1.split()
counter = 0
for x in list_1:
    if len(x) > counter:
        counter = len(x)
        y = x
    else:
        pass

print('the longest word in a string is ', y)

Enter any sentence :  hi am hrishikesh ingole

hrishikesh

In [8]:
#21. Find the shortest word in a string.


string_1 = input('Enter any sentence : ')
list_1 = string_1.split()
counter = len(string_1)
for x in list_1:
    if len(x) < counter:
        counter = len(x)
        y = x
    else:
        pass

print('the shortest word in a string is ', y)

Enter any sentence :  hi a my name

the shortest word in a string is  a

In [1]:
#22. Reverse the order of words in a string.

string_1 = input('Enter any sentence : ')
list_1 = string_1.split()[::-1]
string_2 = ''
for x in list_1:
    string_2 = string_2+x+' '

print(string_2)

Enter any sentence :  hi am rishi

rishi am hi

In [9]:
#23. Check if a string is alphanumeric.

string_1 = input('Enter any string : ')
if string_1.isalnum():
    print('yes, the string is alphanumeric')
else:
    print('No, the string is not alphanumeric')

Enter any sentence :  ncdscdnp23

yes, the string is alphanumeric

In [14]:
#24. Extract all digits from a string.

string_1 = input('Enter any string : ')
string_2  = '1234567890'
list_1 = []
for x in string_1 :
    if x in string_2:
        list_1.append(x)
        
print('numbers in the given string are : ',list_1)

Enter any string :  hdsc45 ohfo98\

numbers in the given string are :  ['4', '5', '9', '8']

In [17]:
#25. Extract all alphabets from a string.

string_1 = input('Enter any string : ')
list_1 = []
for x in string_1:
    if x.isalpha():
        list_1.append(x)

print('alphabets in the given string are : ',list_1)

Enter any string :  hiod56mdncn-9

alphabets in the given string are :  ['h', 'i', 'o', 'd', 'm', 'd', 'n', 'c', 'n']

In [36]:
#26. Count the number of uppercase letters in a string.

string_1 = input('Enter any string : ')
list_1 = []
for x in string_1:
    if x.isupper():
        list_1.append(x)

print('Uppercase letters in the given string are : ',len(list_1))

Enter any string :  Hrishi

Uppercase letters in the given string are :  1

In [19]:
#27. Count the number of lowercase letters in a string.

string_1 = input('Enter any string : ')
list_1 = []
for x in string_1:
    if x.islower():
        list_1.append(x)

print('Lowercase letters in the given string are : ',len(list_1))

Enter any string :  Hrishikesh

Lowercase letters in the given string are :  ['r', 'i', 's', 'h', 'i', 'k', 'e', 's', 'h']

In [24]:
#28. Swap the case of each character in a string.

string_1 = input('Enter any string, use only alphabets : ')
string_2 = ''
for x in string_1:
    if x.isupper():
        string_2 = string_2 + x.lower()
    else:
        string_2 = string_2 + x.upper()
print(string_2)

Enter any string, use only alphabets :  PWskills

pwSKILLS

In [34]:
#29. Remove a specific word from a string.

string_1 = input('Enter any sentence : ')
string_2 = input('Enter the word you want to remove : ')
string_3 = string_1.replace(string_2,'')
print("results = ",string_3)

Enter any sentence :  hi am rishi learning from pw skills
Enter the word you want to remove :  pw

hi am rishi learning from  skills

In [26]:
#30. Check if a string is a valid email address.

"""You have to write the program according to these conditions:

1. Format: The string should have the basic email address format: local_part@domain.

2. @ Symbol: There must be exactly one "@" symbol in the email address, separating the local_part from the domain.

3. Domain Format: The domain part should consist of:

-> At least one domain name segment (e.g., "example" in "example.com").
-> Each domain name segment should consist of letters, digits, hyphens ("-"), or periods (".").
-> The last domain name segment should have at least two characters (e.g., "com," "org," or "co.uk").

4. Local Part Format: The local_part should follow these rules:

-> It can contain letters (both uppercase and lowercase), digits, hyphens ("-"), periods (".") as long as they are not at the beginning or end, and underscores ("_").
-> It cannot start or end with a period.
-> It cannot contain spaces or other special characters."""



email = input('Enter the email id : ')

if email.count('@')==1 and (' ') not in email :
    list_1 = email.split('@')
    local_part = list_1[0]
    if (local_part[0].isalnum() == False or local_part[-1].isalnum() == False ):
        print('The email you have entered is invalid')
    else:
        domain = list_1[1]
        if domain.count('.') == 1:   
            list_2 = domain.split('.')
            domain_name = list_2[0]
            domain_extensions = list_2[1]
            print('The email you have entered is vallid')
        else:
            print('The email you have entered is invalid')
else:
    print('The email you have entered is invalid')

Enter the email id :  hrishi.ingole@gmail.com

The email you have entered is vallid

In [29]:
#31. Extract the username from an email address string.

email = input('Enter the email id : ')

if email.count('@')==1 and (' ') not in email :
    list_1 = email.split('@')
    local_part = list_1[0]
    if (local_part[0].isalnum() == False or local_part[-1].isalnum() == False ):
        print('The email you have entered is invalid')
    else:
        domain = list_1[1]
        if domain.count('.') == 1:   
            list_2 = domain.split('.')
            domain_name = list_2[0]
            domain_extensions = list_2[1]
            print('The email you have entered is vallid')
        else:
            print('The email you have entered is invalid')
else:
    print('The email you have entered is invalid')
            
print('your uuser name is : ',local_part)

Enter the email id :  hrishi@gmail.com

The email you have entered is vallid
your uuser name is :  hrishi

In [12]:
#32. Extract the domain name from an email address string.

email = input('Enter the email id : ')

if email.count('@')==1 and (' ') not in email :
    list_1 = email.split('@')
    local_part = list_1[0]
    if (local_part[0].isalnum() == False or local_part[-1].isalnum() == False ):
        print('The email you have entered is invalid')
    else:
        domain = list_1[1]
        if domain.count('.') == 1:   
            list_2 = domain.split('.')
            domain_name = list_2[0]
            domain_extensions = list_2[1]
            print('The email you have entered is vallid')
        else:
            print('The email you have entered is invalid')
else:
    print('The email you have entered is invalid')
            
print('your domain name is : ',domain_name)

Enter the email id :  h@fmail.com

The email you have entered is vallid
your domain name is :  fmail

In [1]:
#33. Replace multiple spaces in a string with a single space.

string_1 = input('Enter any sentence with multiple space : ')
list_1 = string_1.split()
string_2 = ''
for x in list_1:
    string_2 = string_2 + x + ' '
print('After removing the large spaces : ',string_2)

Enter any sentence with multiple space :  nadc4 sakcnla

After removing the large spaces :  nadc4 sakcnla

In [16]:
#34. Check if a string is a valid URL.
#https://lab.pwskills.com/my-labs

string_1 = input('Enter URL : ')

if string_1.count('://')==1 and (' ') not in string_1 :
    list_1 = string_1.split('://')
    protocol=list_1[0]
    if protocol[0].isalnum() == False or protocol[-1].isalnum() == False :
        print('invlid URL')
    else:
        list_2 = list_1[1].split('/')
        domain = list_2[0].split('.')
        sub_domain = domain[0]
        root_domain = domain[0]
        domain_extensions = domain[0]
        if sub_domain[0].isalnum() == False or sub_domain[-1].isalnum() == False or root_domain[0].isalnum() == False or root_domain[-1].isalnum() == False or domain_extensions[0].isalnum() == False or domain_extensions[-1].isalnum() == False :
            print('invlid url')
        else:
            print('Valid URL')
else :
    print('invlid URL')

Enter URL :  https://lab.pwskills.com/my-labs

Valid URL

In [17]:
#35. Extract the protocol (http or https) from a URL string.

string_1 = input('Enter URL : ')

if string_1.count('://')==1 and (' ') not in string_1 :
    list_1 = string_1.split('://')
    protocol=list_1[0]
    if protocol[0].isalnum() == False or protocol[-1].isalnum() == False :
        print('invlid URL')
    else:
        list_2 = list_1[1].split('/')
        domain = list_2[0].split('.')
        sub_domain = domain[0]
        root_domain = domain[0]
        domain_extensions = domain[0]
        if sub_domain[0].isalnum() == False or sub_domain[-1].isalnum() == False or root_domain[0].isalnum() == False or root_domain[-1].isalnum() == False or domain_extensions[0].isalnum() == False or domain_extensions[-1].isalnum() == False :
            print('invlid url')
        else:
            print('Valid URL')
else :
    print('invlid URL')
    
print('The protocol is ',protocol)

Enter URL :  https://lab.pwskills.com/my-labs

Valid URL
The protocol is  https

In [36]:
#36. Find the frequency of each character in a string.

string_1 = input('Enter any scentence : ')
set_1 = set()
for x in string_1:
    set_1.add(x)

for y in set_1:
    if y != ' ':
        counter = string_1.count(y)
        print('frequency of ' + y + ' is ' + str(counter))

Enter any scentence :  i learn at PW skills

frequency of k is 1
frequency of P is 1
frequency of i is 2
frequency of s is 2
frequency of a is 2
frequency of n is 1
frequency of W is 1
frequency of l is 3
frequency of t is 1
frequency of r is 1
frequency of e is 1

In [33]:
#37. Remove all punctuation from a string.

string_1 = input('Enter any string : ')
string_2 = ''
list_1 = string_1.split()
for x in list_1:
    for y in x:
        if y.isalnum():
            string_2 = string_2 + y 
    string_2 = string_2+' '

print('Aftre removing all punctuation from a string', string_2)

Enter any string :  hi @rishi

Aftre removing all punctuation from a string hi rishi

In [72]:
#38. Check if a string contains only digits

string_1 = input('Enter any string : ')
list_1 = string_1.split()
counter = 0
for x in list_1:
    if x.isdigit():
        counter = counter
    else:
        counter += 1
if counter!=0:
    print('no,string dont contains only digits.')
else:
    print('yes,string contains only digits.')

Enter any string :  7476667

yes,string contains only digits.

In [74]:
#39. Check if a string contains only alphabets.

string_1 = input('Enter any string : ')
list_1 = string_1.split()
counter = 0
for x in list_1:
    if x.isalpha():
        counter = counter
    else:
        counter += 1
if counter!=0:
    print('no, string dont contains only alphabets.')
else:
    print('yes,string contains only alphabets' )

Enter any string :  fdsuiuhouh

yes,string contains only alphabets

In [84]:
#40. Convert a string to a list of characters.

string_1 = input('Enter any string : ')
list_1 = []
for x in string_1:
    if x != ' ':
        list_1.append(x)
print('list of characters : ',list_1)

Enter any string :  hi am rishi

list of characters :  ['h', 'i', 'a', 'm', 'r', 'i', 's', 'h', 'i']

In [14]:
#41. Check if two strings are anagrams.

string_1 = input('Enter first string : ')
string_2 = input('Enter second string : ')
set_1 = set()
set_2 = set()
counter = 0

for x in string_1:
    set_1.add(x)

for y in string_2:
    set_2.add(y)
    
if set_1.intersection(set_2) :
    for comp in set_1:
        if string_1.count(comp) == string_2.count(comp):
            counter = counter
        else:
            counter += 1

if counter != 0:
    print('NO, two strings are not anagrams')
else:
    print('yes, two strings are anagrams')

Enter first string :  cat
Enter second string :  tac

yes, two strings are anagrams

In [26]:
#42. Encode a string using a Caesar cipher

string_1 = input('Enter any string : ')
list_1 = string_1.split()
string_2 = ''
for x in list_1:
    for y in x:
        order = ord(y) + 3
        string_2 = string_2 + chr(order)    
    string_2 = string_2 + ' '

print('In Caesar cipher format : ', string_2)

Enter any string :  PWSKILLS

In Caesar cipher format :  SZVNLOOV

In [28]:
#43. Decode a Caesar cipher encoded string

string_1 = input('Enter any string in Caesar cipher format : ')
list_1 = string_1.split()
string_2 = ''
for x in list_1:
    for y in x:
        order = ord(y) - 3
        string_2 = string_2 + chr(order)    
    string_2 = string_2 + ' '

print('In decoded format : ', string_2)

Enter any string in Caesar cipher format :  SZVNLOOV

In decoded format :  PWSKILLS

In [94]:
#44. Find the most frequent word in a string.

string_1 = input('Enter any scentence : ')
list_1 = string_1.split()
dict_1 = {}
gretter = 0
count = 0

for y in list_1:
    if y != ' ':
        counter = list_1.count(y)
        dict_1[y]=counter

for x in dict_1.values():
    if x > gretter:
        gretter = x

key_dict_1 = list(dict_1.keys())
value_dict_1 = list(dict_1.values())

position = value_dict_1.index(gretter)  

if position == 0 and gretter != 1 :
    print(key_dict_1[position])
elif position == 0 and gretter == 1 :
    print('NO word is repeted')
else:
    print("One of the repeted word with highest frequency : ",key_dict_1[position])

Enter any scentence :  hi am rishi rishi

One of the repeted word with highest frequency :  rishi

In [26]:
#44. Find the most frequent word in a string.

string_1 = input('Enter any scentence : ')
list_1 = string_1.split()
list_2 = []
set_1 = set()
for x in list_1:
    if list_1.count(x)>1:
        continue
    else:
        list_2.append(x)
        
if list_1 != list_2:
    for value in list_2:
        list_1.remove(value)
    
    set_1 =  set(list_1)
    
    print('The most frequent word in a string are : ', set_1)
else:
    print('None of the words repeted', list_1)

Enter any scentence :  hi am rishi am rishi

The most frequent word in a string are :  {'rishi', 'am'}

In [2]:
#45. Find all unique words in a strin

string_1 = input('Enter any scentence : ')
list_1 = string_1.split()
list_2 = []
for x in list_1:
    if list_1.count(x)>1:
        continue
    else:
        list_2.append(x)
        

print('The unique words are : ', list_2)

Enter any scentence :  hi am rishi

The unique words are :  ['hi', 'am', 'rishi']

In [65]:
#47. Check if a string contains any special characters.

string_1 = input('Enter any scentence : ')
list_1 = string_1.split()
counter = 0

for x in list_1:
    if x.isalnum() == False:
        counter += 1

if counter:
    print('yes, string contains special characters')
    
else:
    print('No, string dont contains any special characters.')

Enter any scentence :  hi am .rishi

yes, string contains special characters

In [85]:
#48. Remove the nth word from a string.

string_1 = input('Enter any scentence : ')
int_1 = int(input('Enter the index of word you want to remove : '))
list_1 = string_1.split()
string_2 = ''
list_1.remove(list_1[int_1])
for x in list_1:
    string_2 = string_2 + x + ' '

print(string_2)

Enter any scentence :  hi am rishi and i am rishi
Enter the index of word you want to remove :  3

hi am rishi i am rishi

In [27]:
#49. Insert a word at the nth position in a string.

string_1 = input('Enter any scentence : ')
string_2 = input('Enter the word you want to add: ')
n = int(input('Enter the index position wehre you want to add the string : '))
counter = 0
list_1 = string_1.split()
list_2 = []

for x in list_1:
    counter = counter + 1
    if counter == n:
        list_2.append(x +' '+ string_2)
    else:
        list_2.append(x)
        
for x in list_2:
    print(x,end=' ')

Enter any scentence :  hi am rishi hi am rishi
Enter the word you want to add:  hello
Enter the index position wehre you want to add the string :  4

hi am rishi hi hello am rishi

In [28]:
#50. Convert a CSV string to a list of lists

import csv 

with open('day.csv', 'r') as read_obj: 

    csv_reader = csv.reader(read_obj) 
    list_of_csv = list(csv_reader) 
    print(list_of_csv)

[['Numeric', 'Numeric-2', 'Numeric-Suffix'], ['1', '01', '1st'], ['2', '02', '2nd'], ['3', '03', '3rd'], ['4', '04', '4th'], ['5', '05', '5th'], ['6', '06', '6th'], ['7', '07', '7th'], ['8', '08', '8th'], ['9', '09', '9th'], ['10', '10', '10th'], ['11', '11', '11th'], ['12', '12', '12th'], ['13', '13', '13th'], ['14', '14', '14th'], ['15', '15', '15th'], ['16', '16', '16th'], ['17', '17', '17th'], ['18', '18', '18th'], ['19', '19', '19th'], ['20', '20', '20th'], ['21', '21', '21st'], ['22', '22', '22nd'], ['23', '23', '23rd'], ['24', '24', '24th'], ['25', '25', '25th'], ['26', '26', '26th'], ['27', '27', '27th'], ['28', '28', '28th'], ['29', '29', '29th'], ['30', '30', '30th'], ['31', '31', '31st']]

In [ ]:
Topic: List Based Practice Problem

In [29]:
#1. Create a list with integers from 1 to 10.

l1 = [1,2,3,4,5,6,7,8,9,10]
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
#2. Find the length of a list without using the `len()` function.

l1 = [1,2,3,4,5,6,7,8,9,10]
counter = 0

for x in l1:
    counter += 1
    
print('length of list is :',counter)

length of list is : 10

In [51]:
#3. Append an element to the end of a list

l1 = [1,2,3,4,5,6,7,8,9,10]
l1.append(11)
print('after appending ',l1)

after appending  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [52]:
#4. Insert an element at a specific index in a list

l1 = [1,2,3,4,5,6,7,8,9,10]
l1[4]=6
print('After inserting the element at specific index ', l1)

After inserting the element at specific index  [1, 2, 3, 4, 6, 6, 7, 8, 9, 10]

In [54]:
#5. Remove an element from a list by its value.

l1 = [1,2,3,4,5,6,7,8,9,10]
l1.remove(6)
print('After removing the element from a list by its value : ',l1)

After removing the element from a list by its value :  [1, 2, 3, 4, 5, 7, 8, 9, 10]

In [55]:
#6. Remove an element from a list by its index.

l1 = [1,2,3,4,5,6,7,8,9,10]
l1.pop(4)
print('Remove an element from a list by its index : ',l1)

Remove an element from a list by its index :  [1, 2, 3, 4, 6, 7, 8, 9, 10]

In [40]:
#7. Check if an element exists in a list.

l1 = [1,2,3,4,5,6,7,8,9,10]

3 in  l1

#return's true if exist, else false.

True

In [58]:
#8. Find the index of the first occurrence of an element in a list
l1 = [1,2,3,3,3,4,5,6,7,8,9,10]
z = l1.index(3)
print('The index of the first occurrence of an element in a list : ',z)

The index of the first occurrence of an element in a list :  2

In [59]:
#9. Count the occurrences of an element in a list

l1 = [1,2,3,3,3,3,3,4,5,6,7,8,9,10]
z = l1.count(3)
print('The Count of occurrences of an element in a list : ',z)

The Count of occurrences of an element in a list :  5

In [60]:
#10. Reverse the order of elements in a list.

l1 = [1,2,3,4,5,6,7,8,9,10]
z = l1[::-1]
print('After reversing the order of list : ',z)

After reversing the string :  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [69]:
#11. Sort a list in ascending order.


l1 = [1,4,5,3,2,6,8,9,7,10]
l1.sort()
print('ascending order of list : ', l1)

ascending order of list :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
#12. Sort a list in descending order
l1 = [1,4,5,3,2,6,8,9,7,10]
l1.sort()
print('descending order of list : ', l1[::-1])

descending order of list :  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [79]:
#13. Create a list of even numbers from 1 to 20.

list_even = []

for x in range(1,21):
    if x%2 == 0:
        list_even.append(x)

print('list of even numbers from 1 to 20 : ',list_even)

list of even numbers from 1 to 20 :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [82]:
#14. Create a list of odd numbers from 1 to 20.

list_odd = []

for x in range(1,21):
    if x%2 != 0:
        list_odd.append(x)

print('list of odd numbers from 1 to 20 : ',list_odd)

list of odd numbers from 1 to 20 :  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [84]:
#15. Find the sum of all elements in a list

l1 = [1,2,3,4,5,6,7,8,9,10]
print('sum of all elements in a list l1 is ', sum(l1))

sum of all elements in a list l1 is  55

In [88]:
#16. Find the maximum value in a list.

l1 = [1,2,3,4,5,100,6,7,8,9,10]
maximum = 0

for x in l1:
    if x > maximum:
        maximum = x

print('maximum value in list is : ',maximum)

maximum value in list is :  100

In [91]:
#17. Find the minimum value in a list.

l1 = [1,2,3,4,5,100,6,7,8,9,10]
print('minimum value in a list is',min(l1))

minimum value in a list is 1

In [93]:
#18. Create a list of squares of numbers from 1 to 10.

list_1 = []
for x in range(1,11):
    list_1.append(x**2)

print('list of squares of numbers from 1 to 10', list_1)

list of squares of numbers from 1 to 10 [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [103]:
#19. Create a list of random numbers

import random
list_1 = []
for i in range(0,5):
    n = random.randint(1,30)
    list_1.append(n)

print('list of random numbers',list_1)

list of random numbers [13, 16, 14, 12, 6]

In [107]:
#20. Remove duplicates from a list.

l1 = [1,2,3,3,3,3,3,4,5,6,7,8,9,10]
print('After remove duplicates from a list',list(set(l1)))

After remove duplicates from a list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
#21. Find the common elements between two lists.

list_1 = [1,2,3,4,5,6]
list_2 = [4,5,6,7,8,9]
list_3 = []
for x in list_1:
    if x in list_2:
        list_3.append(x)

print('common elements between two lists are ',list_3)

common elements between two lists are  [4, 5, 6]

In [8]:
#22. Find the difference between two lists

list_1 = [1,2,3,4,5,6]
list_2 = [4,5,6,7,8,9]
list_3 = []
for x in list_1:
    if x not in list_2:
        list_3.append(x)
        
for x in list_2:
    if x not in list_1:
        list_3.append(x)
        
print('difference in elements between two lists are ',list_3)

difference in elements between two lists are  [1, 2, 3, 7, 8, 9]

In [10]:
#23. Merge two lists

list_1 = [1,2,3,4,5,6]
list_2 = [4,5,6,7,8,9]
list_3 = list_1 + list_2
print('After Merging two lists',list_3)

After Merging two lists [1, 2, 3, 4, 5, 6, 4, 5, 6, 7, 8, 9]

In [11]:
#24. Multiply all elements in a list by 2.

list_1 = [1,2,3,4,5,6]
list_2 = []
for x in list_1:
    list_2.append(x*2)
    
    
print('After multiplying all elements in a list by 2 : ', list_2)

After multiplying all elements in a list by 2 :  [2, 4, 6, 8, 10, 12]

In [12]:
#25. Filter out all even numbers from a list.


list_1 = [1,2,3,4,5,6]
list_even= []
for x in list_1:
    if x%2 == 0:
        list_even.append(x)

print('Even numbers in list are : ',list_even)

Even numbers in list are :  [2, 4, 6]

In [13]:
#26. Convert a list of strings to a list of integers.

list_1 = ['1','2','3','4','5','6']
list_2 = []
for x in list_1:
    list_2.append(int(x))

print('After converting from string to int : ',list_2)

After converting from string to int :  [1, 2, 3, 4, 5, 6]

In [14]:
#27. Convert a list of integers to a list of strings

list_1 = [1,2,3,4,5,6]
list_2 = []
for x in list_1:
    list_2.append(str(x))
    
print('After converting from int to string : ',list_2)

After converting from int to string :  ['1', '2', '3', '4', '5', '6']

In [17]:
#28. Flatten a nested list

list_1 = [[1], [2, 3], [4, 5, 6, 7]]
list_2 = []
for x in list_1:
    for y in x:
        list_2.append(y)
        
print('After flattening a nested list', list_2)

After flattening a nested list [1, 2, 3, 4, 5, 6, 7]

In [20]:
#29. Create a list of the first 10 Fibonacci numbers.

#0 1 1 2 3 5 8 13 21 34

list_1  = []
start =  0 
for x in range(0,10):
    if x <= 1 :
        list_1.append(x)
    else:
        y  = (list_1[-1]) + (list_1[-2])
        list_1.append(y)

print(list_1)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [30]:
#Check if a list is sorted.

list_1 = [1,2,3,4,5,6]
counter = 0
for x in list_1 :
    if counter < x :
        counter = x
    else :
        print('The list is not sorted')
        break
if counter == list_1[-1]:
    print('The list is sorted')

The list is sorted

In [37]:
#31. Rotate a list to the left by `n` positions.

list_1 = [1,2,3,4,5,6,7,8,9,10]
n = int(input('Enter the value of n to rotate the list : '))
list_2 = list_1[n::] + list_1[0:n]
print('After rotating a list to the left : ', list_2)

Enter the value of n to rotate the list :  2

[3, 4, 5, 6, 7, 8, 9, 10, 1, 2]

In [49]:
#32. Rotate a list to the right by `n` positions.

list_1 = [1,2,3,4,5,6,7,8,9,10]
n = int(input('Enter the value of n to rotate the list : '))
list_2 = list_1[-1:-(n+1):-1] + list_1[0:-n]
print('After rotating a list to the right : ', list_2)

Enter the value of n to rotate the list :  2

After rotating a list to the right :  [10, 9, 1, 2, 3, 4, 5, 6, 7, 8]

In [72]:
#33. Create a list of prime numbers up to 50.

list_1= []

for x in range(2,50):
    for y in range(2,50):
        if x % y == 0:
            break
    if x == y:
        list_1.append(x)
        
list_1

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [79]:
#34. Split a list into chunks of size `n`.

list_1 = [1,2,3,4,5,6,7,8,9,10]
list_2 = []
n = int(input('Enter the chunk size : '))

for x in range(0, round(len(list_1)/n)):
    a = list_1[0:n]
    list_2.append(a)
    del list_1[0:n]

list_2

Enter the chunk size :  2

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]

In [85]:
#35. Find the second largest number in a list.

list_1 = [1,2,3,4,5,10,30,40,6,7,8,9,100]
n = 0
for x in list_1:
    if n < x and x<max(list_1):
        n = x

print('second largest number in a list : ',n)

second largest number in a list :  40

In [86]:
#36. Replace every element in a list with its square

list_1 = [1,2,3,4,5,6,7,8,9,10]
list_2 = []
for x in list_1:
    list_2.append(x**2)
print(list_2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [100]:
'''37. Convert a list to a dictionary where list elements become keys and their
indices become values.'''

list_1 = [1,2,3,4,5,6,7,8,9,10]
dict_1= {}
for x in list_1:
    dict_1.update({x:(list_1.index(x))})
print(dict_1)

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9}

In [104]:
#38. Shuffle the elements of a list randomly

import random
list_1 = [1,2,3,4,5,6,7,8,9,10]
random.shuffle(list_1)
list_1

[2, 5, 6, 7, 4, 8, 3, 10, 9, 1]

In [125]:
#39. Create a list of the first 10 factorial numbers.

counter = 0
list_1 = []
for x in range(0,11):
    for y in range(1,x+1):
        counter = counter * y
    if counter != 0:
        list_1.append(counter)
    counter = 1
print(list_1)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [132]:
#40. Check if two lists have at least one element in common

list_1 = [1,2,3,4]
list_2 = [4,5,6,7,8,9]
list_3 = []
for x in list_1:
    if x in list_2:
        list_3.append(x)

if list_3 != []:
    print('yes, have common element')
else:
    print('No, dont have common element')

yes, have common element

In [134]:
#41. Remove all elements from a list.

list_1 = [1,2,3,4]
list_1.clear()
print(list_1)

[]

In [137]:
#42. Replace negative numbers in a list with 0.


list_1 = [1,-2,3,4,-5,6,7,8,-9,10]
list_2 = []

for x in list_1:
    if x < 0:
        list_2.append(0)
    else:
        list_2.append(x)

print('after replacing by 0 : ', list_2)

after replacing by 0 :  [1, 0, 3, 4, 0, 6, 7, 8, 0, 10]

In [139]:
#43. Convert a string into a list of words

string_1  = 'hi am rishi'
list_1 = []
list_1 = string_1.split()
print(list_1)

['hi', 'am', 'rishi']

In [140]:
#44. Convert a list of words into a string

list_1 = ['hi', 'am', 'rishi']
string_1 = '' 
for x in list_1:
    print(x,end=' ')

hi am rishi

In [144]:
#45. Create a list of the first `n` powers of 2.

n = int(input(' the value of n: '))
list_1 = []
for x in range(1,n+1):
    list_1.append(2**x)
    
print('list of the first `n` powers of 2 is ',list_1)

 the value of n:  4

list of the first `n` powers of 2 is  [2, 4, 8, 16]

In [149]:
#46. Find the longest string in a list of strings.

list_1 = ['hi', 'am', 'rishi','hello']
counter = 0
word = ''
for x in list_1:
    if counter < len(x):
        counter = len(x)
        word = x

print(' longest string in a list of strings is',word)

 longest string in a list of strings is rishi

In [159]:
#47. Find the shortest string in a list of strings.

list_1 = ['hello', 'am', 'Hrishikesh']
list_2 = []

for x in list_1:
    list_2.append(len(x))
    
print(' Shortest string in a list of strings is : ',list_1[list_2.index(min(list_2))])

 Shortest string in a list of strings is :  am

In [162]:
#48. Create a list of the first `n` triangular numbers
#s1 =  (1+0) (2+1) (3+3) (4+6) (5+10)......
#s2 =   1     3     6     10    15 ......

list_1 = []
n = int(input('Enter the value of n : '))
s1 = 0
s2 = 0
for x in range(1,n+1):
    s1 = s2+x
    list_1.append(s1)
    s2 = s1

    
print(list_1)

Enter the value of n :  5

[1, 3, 6, 10, 15]

In [11]:
#49. Check if a list contains another list as a subsequence

list_1 = [1,2,3,4,5,6]
list_2 = [4,5,6]
list_3 = []
n = len(list_2)
counter = 0
for x in list_1:
    list_3.append(list_1[counter:(counter + n)])
    counter = counter +1
if list_2 in list_3:
    print('Yes,list contains another list as a subsequence')
else:
    print('No,list dont contains another list as a subsequence')

Yes,list contains another list as a subsequence

In [13]:
#50. Swap two elements in a list by their indices.


list_1 = [1,2,3,4,5,6]
(list_1[2],list_1[5]) = (list_1[5],list_1[2])
print('After swapping : ',list_1)

After swapping :  [1, 2, 6, 4, 5, 3]

Topic - Tuple Based Practice Problem

In [20]:
#1. Create a tuple with integers from 1 to 5.

tuple_1 = (1,2,3,4,5)
print(tuple_1)

(1, 2, 3, 4, 5)

In [21]:
#2. Access the third element of a tuple.

tuple_1 = (1,2,3,4,5)
print('Third element of a tuple is',tuple_1[2])

Third element of a tuple is 3

In [22]:
#3. Find the length of a tuple without using the `len()` function.

tuple_1 = (1,2,3,4,5)
counter = 0
for x in tuple_1:
    counter += 1
print('length of tuple is : ',counter)

length of tuple is :  5

In [24]:
#4. Count the occurrences of an element in a tuple.

tuple_1 = (1,2,3,4,5,3,3,3)
print('occurrences of 3 in tuple is : ', tuple_1.count(3))

occurrences of 3 in tuple is :  4

In [26]:
#5. Find the index of the first occurrence of an element in a tuple.

tuple_1 = (1,2,3,4,5,3,7,3)
print('index of the first occurrence of an element in a tuple is : ',tuple_1.index(3))

index of the first occurrence of an element in a tuple is :  2

In [31]:
#6. Check if an element exists in a tuple.

tuple_1 = (1,2,3,4,5,3,7,3)
n = int(input('Input any number : '))
if n in tuple_1:
    print('yes,element exists in a tuple ')
else:
    print('No, element dont exists in a tuple')

Input any number :  7

yes,element exists in a tuple

In [33]:
#7. Convert a tuple to a list.


tuple_1 = (1,2,3,4,5,3,7,3)

list_1 = list(tuple_1)

print(list_1)

[1, 2, 3, 4, 5, 3, 7, 3]

In [35]:
# 8. Convert a list to a tuple.

list_1 = [1, 2, 3, 4, 5, 3, 7, 3]
tuple_1 = tuple(list_1)
tuple_1

(1, 2, 3, 4, 5, 3, 7, 3)

In [38]:
#9. Unpack the elements of a tuple into variables.

list_1 = [1, 2, 3, 4, 5, 3, 7, 3]
a, b, *c = list_1
print('After unpacking first 2 emelents : ',a,b,c)

After unpacking first 2 emelents :  1 2 [3, 4, 5, 3, 7, 3]

In [49]:
#10. Create a tuple of even numbers from 1 to 10.

list_1 = []
for x in range(1,11):
    if x %2==0:
        list_1.append(x)
    
print('tuple of even numbers from 1 to 10 : ',tuple(list_1))

tuple of even numbers from 1 to 10 :  (2, 4, 6, 8, 10)

In [50]:
#11. Create a tuple of odd numbers from 1 to 10

list_1 = []
for x in range(1,11):
    if x %2!=0:
        list_1.append(x)
    
print('tuple of odd numbers from 1 to 10 : ',tuple(list_1))

tuple of odd numbers from 1 to 10 :  (1, 3, 5, 7, 9)

In [52]:
#12. Concatenate two tuples.

tuple_1 = (1,2,3,4)
tuple_2 = (5,6,7,8)
print('After Concatenating two tuples : ',tuple_1 + tuple_2)

After Concatenating two tuples :  (1, 2, 3, 4, 5, 6, 7, 8)

In [53]:
#13. Repeat a tuple three times.
tuple_1 = (1,2,3,4)
print('After  a tuple three times : ',tuple_1*3)

After  a tuple three times :  (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [15]:
#14. Check if a tuple is empty.

tuple_1 = tuple(input('Enter elements : '))
if len(tuple_1) == 0:
    print('yes, tuple is empty.')
else:
    print(tuple_1)
    print('No, tuple is not  empty.')
    
#if you dont enter anything in input it will return empty tuple
#if you enter anything incluidng space will consier it as emement and will return non-empty tuple.

Enter elements :

yes, tuple is empty.

In [28]:
#15. Create a nested tuple.

tuple_1 = (1,2,3,4,5)
tuple_2 = (6,7,8)
list_1 = list(tuple_1)
list_1.append(tuple_2)
tuple(list_1)

(1, 2, 3, 4, 5, (6, 7, 8))

In [32]:
#16. Access the first element of a nested tuple.
tuple_1 = (1, 2, 3, 4, 5, (6, 7, 8))
for x in tuple_1:
    if len(str(x)) >  1:
        print('first element of a nested tuple is : ', x[0])

first element of a nested tuple is :  6

In [33]:
#17. Create a tuple with a single element.
tuple_1 = (1)
tuple_1

1

In [36]:
#18. Compare two tuples

tuple_1 = (1,2,3,4,5)
tuple_2 = (6,7,8)
print('Elements in tuple_1 is smaller than tuple_2 : ',tuple_1 < tuple_2)
print('Elements in tuple_1 is gretter than tuple_2 : ',tuple_1 > tuple_2)
print('Elements in tuple_1 is equal to tuple_2 : ',tuple_1 == tuple_2)

Elements in tuple_1 is smaller than tuple_2 :  True
Elements in tuple_1 is gretter than tuple_2 :  False
Elements in tuple_1 is equal to tuple_2 :  False

In [44]:
#19. Delete a tuple


tuple_1 = (1,2,3,4,5)
del[tuple_1]

In [45]:
#20. Slice a tuple.

tuple_1 = (1,2,3,4,5)
tuple_1[0:3]

(1, 2, 3)

In [3]:
#21. Find the maximum value in a tuple.

tuple_1 = (1,2,3,4,5)
print('maximum value in a tuple is ',max(tuple_1))

maximum value in a tuple is  5

In [4]:
#22. Find the minimum value in a tuple.

tuple_1 = (1,2,3,4,5)
print('Minimum value in a tuple is ',min(tuple_1))

Minimum value in a tuple is  1

In [1]:
#23. Convert a string to a tuple of characters.

s1 = 'hi am rishi'
list_1= s1.split()
list_2 = []
for x in list_1:
    list_2.append(x)
    
print('After converting a string to a tuple of characters : ',tuple(list_2))

After converting a string to a tuple of characters :  ('hi', 'am', 'rishi')

In [13]:
#24. Convert a tuple of characters to a string.

tuple_1 = ('hi', 'am', 'rishi')
string_1 = ''
for x in tuple_1:
    string_1 = string_1 + x + ' '

print('After converting a tuple of characters to a string : ', string_1)

After converting a tuple of characters to a string :  hi am rishi

In [14]:
#25. Create a tuple from multiple data types.

tuple_1 = ('hi',2,(1,2),[1,2],{1,2},{1:2,3:4})
print(tuple_1)

('hi', 2, (1, 2), [1, 2], {1, 2}, {1: 2, 3: 4})

In [20]:
#26. Check if two tuples are identical.

tuple_1 = tuple(input('Enter the values for first tuple : '))
tuple_2 = tuple(input('Enter the values for second tuple : '))
if tuple_1 == tuple_2:
    print('tuple_1 =',tuple_1)
    print('tuple_2 = ',tuple_2)
    print('Yes, two tuples are identical ')
else:
    print('tuple_1 =',tuple_1)
    print('tuple_2 = ',tuple_2)
    print('No, two tuples are not identical ')

Enter the values for first tuple :  1,2,3
Enter the values for second tuple :  3,5,6

tuple_1 = ('1', ',', '2', ',', '3')
tuple_2 =  ('3', ',', '5', ',', '6')
No, two tuples are not identical

In [31]:
#27. Sort the elements of a tuple.

tuple_1 = (1,5,4,6,2,3)
list_1 = list(tuple_1)
list_1.sort()
print('After sorting : ',tuple(list_1))

After sorting :  (1, 2, 3, 4, 5, 6)

In [32]:
#28. Convert a tuple of integers to a tuple of strings

tuple_1 = (1,5,4,6,2,3)
list_1 = []
for x in tuple_1:
    list_1.append(str(x))

tuple(list_1)

('1', '5', '4', '6', '2', '3')

In [33]:
#29. Convert a tuple of strings to a tuple of integers

tuple_1 = ('1', '5', '4', '6', '2', '3')
list_1 = []
for x in tuple_1:
    list_1.append(int(x))

tuple(list_1)

(1, 5, 4, 6, 2, 3)

In [34]:
#30. Merge two tuples

tuple_1 = (1,2,3)
tuple_2 = (4,5,6)
print(tuple_1 + tuple_2)

(1, 2, 3, 4, 5, 6)

In [42]:
#31. Flatten a nested tuple.

tuple_1 = ((1,2,3),(4,5),(6,7))
list_1 = []
for x in tuple_1:
    for y in x:
        list_1.append(y)
    
tuple(list_1)

(1, 2, 3, 4, 5, 6, 7)

In [2]:
#32. Create a tuple of the first 5 prime numbers

list_1= []
counter = 0
for x in range(2,50):
    for y in range(2,50):
        if x % y == 0 :
            break
    if x == y and counter < 5:
        list_1.append(x)
        counter += 1
        
tuple(list_1)

(2, 3, 5, 7, 11)

In [3]:
#33. Check if a tuple is a palindrome.

tuple_1 = tuple(input('Enter the elements : ').split())
if tuple_1[::-1] == tuple_1:
    print('yes, tuple is palindrome')
else:
    print('No, tuple is not palindrome')

Enter the elements :  1 2 3 2 1

yes, tuple is palindrome

In [4]:
#34. Create a tuple of squares of numbers from 1 to 5.

list_1 = []
for x in range(1,6):
    list_1.append(x**2)
print(tuple(list_1))

(1, 4, 9, 16, 25)

In [7]:
#35. Filter out all even numbers from a tuple.

tuple_1 = (1,2,3,4,5,6)
list_even= []
for x in tuple_1:
    if x%2 == 0:
        list_even.append(x)

print('Even numbers in tuple are : ',tuple(list_even))

Even numbers in tuple are :  (2, 4, 6)

In [8]:
#36. Multiply all elements in a tuple by 2

tuple_1 = (1,2,3,4,5,6)
list_2 = []
for x in tuple_1:
    list_2.append(x*2)
    
    
print('After multiplying all elements in a tuple by 2 : ', tuple(list_2))

After multiplying all elements in a tuple by 2 :  (2, 4, 6, 8, 10, 12)

In [15]:
#37. Create a tuple of random numbers.

import random
tuple_1 = (1,2,3,4,5,6,7,8,9,10)
list_1 = list(tuple_1)
random.shuffle(list_1)
tuple(list_1)

(1, 2, 10, 4, 9, 8, 3, 5, 6, 7)

In [23]:
#38. Check if a tuple is sorted.

tuple_1 = (3,4,5,6,1,2)
counter = 0
for x in tuple_1 :
    if counter < x :
        counter = x
    else :
        print('The tuple is not sorted')
        break
if counter == tuple_1[-1]:
    print('The tuple is sorted')

The tuple is not sorted

In [25]:
#39. Rotate a tuple to the left by `n` positions.

tuple_1 = (1,2,3,4,5,6,7,8,9,10)
n = int(input('Enter the value of n to rotate the tuple : '))
tuple_2 = tuple_1[n::] + tuple_1[0:n]
print('After rotating a tuple to the left : ', tuple_2)

Enter the value of n to rotate the tuple :  2

After rotating a tuple to the left :  (3, 4, 5, 6, 7, 8, 9, 10, 1, 2)

In [27]:
#40. Rotate a tuple to the right by `n` positions.


tuple_1 = (1,2,3,4,5,6,7,8,9,10)
n = int(input('Enter the value of n to rotate the tuple : '))
tuple_2 = tuple_1[-1:-(n+1):-1] + tuple_1[0:-n]
print('After rotating a tuple to the right : ', tuple_2)

Enter the value of n to rotate the tuple :  2

After rotating a tuple to the right :  (10, 9, 1, 2, 3, 4, 5, 6, 7, 8)

In [29]:
#41. Create a tuple of the first 5 Fibonacci numbers.


list_1  = []
start =  0 
for x in range(0,5):
    if x <= 1 :
        list_1.append(x)
    else:
        y  = (list_1[-1]) + (list_1[-2])
        list_1.append(y)

print(tuple(list_1))

(0, 1, 1, 2, 3)

In [30]:
#42. Create a tuple from user input.

tuple_1 = tuple(input('Enter the elements with space between two elements : ').split())
print(tuple_1)

Enter the elements with space between two elements :  hi am rishi

('hi', 'am', 'rishi')

In [3]:
#43. Swap two elements in a tuple.

tuple_1 = (1,2,3,4,5,6)
list_1 = list(tuple_1)
(list_1[2],list_1[5]) = (list_1[5],list_1[2])
print('After swapping : ', tuple(list_1))

After swapping :  (1, 2, 6, 4, 5, 3)

In [4]:
#44. Reverse the elements of a tuple

tuple_1 = (1,2,3,4,5,6)
tuple_1[::-1]

(6, 5, 4, 3, 2, 1)

In [6]:
#45. Create a tuple of the first `n` powers of 2

n = int(input('Enter the value of n: '))
list_1 = []
for x in range(1,n+1):
    list_1.append(2**x)
    
print('tuple of the first `n` powers of 2 is ',tuple(list_1))

Enter the value of n:  2

tuple of the first `n` powers of 2 is  (2, 4)

In [10]:
#46. Find the longest string in a tuple of strings


tuple_1 = ('hi', 'am', 'rishi','hello')
counter = 0
word = ''
for x in tuple_1:
    if counter < len(x):
        counter = len(x)
        word = x

print(' longest string in a tuple of strings is : ',word)

 longest string in a tuple of strings is :  rishi

In [12]:
#47. Find the shortest string in a tuple of strings.



tuple_1 = ('hello', 'am', 'Hrishikesh')
list_1 = list(tuple_1)
list_2 = []

for x in tuple_1:
    list_2.append(len(x))
    
print(' Shortest string in a list of strings is : ',list_1[list_2.index(min(list_2))])

 Shortest string in a list of strings is :  am

In [13]:
#48. Create a tuple of the first `n` triangular numbers.


list_1 = []
n = int(input('Enter the value of n : '))
s1 = 0
s2 = 0
for x in range(1,n+1):
    s1 = s2+x
    list_1.append(s1)
    s2 = s1

    
print(tuple(list_1))

Enter the value of n :  4

(1, 3, 6, 10)

In [15]:
#49. Check if a tuple contains another tuple as a subsequence.


tuple_1 = (1,2,3,4,5,6)
tuple_2 = (4,5,6)
list_1 = list(tuple_1)
list_2 = list(tuple_2)
list_3 = []
n = len(list_2)
counter = 0
for x in list_1:
    list_3.append(list_1[counter:(counter + n)])
    counter = counter +1
if list_2 in list_3:
    print('Yes,tuple contains another tuple as a subsequence')
else:
    print('No,tuple dont contains another tuple as a subsequence')

Yes,tuple contains another tuple as a subsequence

In [17]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

n = int(input('value of n : '))
list_1 = []
for x in range(0,n):
    if x==0 or x % 2 ==0:
        list_1.append(1)
    else:
        list_1.append(0)
print(list_1)

value of n :  10

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

Topic - Set Based Practice Problem

In [14]:
#1. Create a set with integers from 1 to 5.

set_1 = set()
for x in range(1,6):
    set_1.add(x)

print(set_1)

{1, 2, 3, 4, 5}

In [16]:
#2. Add an element to a set.

set_1 = {1, 2, 3, 4, 5}
set_1.add(6)
print(set_1)

{1, 2, 3, 4, 5, 6}

In [18]:
#3. Remove an element from a set.

set_1 = {1, 2, 3, 4, 5}
set_1.remove(3)
set_1

{1, 2, 4, 5}

In [21]:
#4. Check if an element exists in a set.

set_1 = {1, 2, 3, 4, 5}
int_1 = int(input('Enter the value you want to search for : '))
int_1 in set_1

Enter the value you want to search for :  3

True

In [24]:
#5. Find the length of a set without using the `len()` function.

set_1 = {1, 2, 3, 4, 5}
counter = 0
for x in set_1:
    counter += 1
print('Number of elements are : ',counter)

Number of elements are :  5

In [27]:
#6. Clear all elements from a set.

set_1 = {1, 2, 3, 4, 5}
set_1.clear()
set_1

set()

In [28]:
#7. Create a set of even numbers from 1 to 10

set_1 = set()
for x in range(1,11):
    if x % 2 == 0:
        set_1.add(x)

print(set_1)

{2, 4, 6, 8, 10}

In [29]:
#8. Create a set of odd numbers from 1 to 10.

set_1 = set()
for x in range(1,11):
    if x % 2 != 0:
        set_1.add(x)

print(set_1)

{1, 3, 5, 7, 9}

In [30]:
#9. Find the union of two sets.

set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8,9}
set_1.union(set_2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
#10. Find the intersection of two sets.

set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8,9}
set_1.intersection(set_2)

{4, 5}

In [33]:
#11. Find the difference between two sets.

set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8,9}
set_1 - set_2

{1, 2, 3}

In [34]:
#12. Check if a set is a subset of another set

set_1 = {4,5}
set_2 = {4,5,6,7,8}
set_1.issubset(set_2)

True

In [38]:
#13. Check if a set is a superset of another set

set_1 = {4,5,6,7,8}
set_2 = {4,5}
set_1.issuperset(set_2)

True

In [39]:
#14. Create a set from a list

list_1 = [1,2,3,4]
set(list_1)

{1, 2, 3, 4}

In [40]:
#15. Convert a set to a list

set_1 = {1, 2, 3, 4}
list(set_1)

[1, 2, 3, 4]

In [55]:
#16. Remove a random element from a set.

import random

set_1 = set(input('Enter elements in set : ').split())
print(set_1)
list_1 = list(set_1)
r = random.randint(0,(len(set_1)+1))
list_1.pop(r)
print(set(list_1))

Enter elements in set :  1 2 3 4

{'4', '2', '1', '3'}
{'4', '1', '3'}

In [57]:
#17. Pop an element from a set.

set_1 = {1, 2, 3, 4}
set_1.pop()

1

In [63]:
#18. Check if two sets have no elements in common.

set_1 = set(input('Enter the elements for set_1 seperated by space : ').split())
set_2 = set(input('Enter the elements for set_2 seperated by space : ').split())
print(set_1)
print(set_2)
if set_1.intersection(set_2):
    print('Yes, two sets have elements in common')
else:

    print('two sets have no elements in common')

Enter the elements for set_1 seperated by space :  hi am rishi
Enter the elements for set_2 seperated by space :  my name is hrishi

{'rishi', 'am', 'hi'}
{'name', 'is', 'my', 'hrishi'}
two sets have no elements in common

In [64]:
#19. Find the symmetric difference between two sets.

# A Δ B = (A ∪ B) - (A ∩ B)


set_1 = {4,5,6,7,8}
set_2 = {4,5}
(set_1.union(set_2)) - (set_1.intersection(set_2))

{6, 7, 8}

In [72]:
#20. Update a set with elements from another set.

set_1 = {4,5,6,7,8}
set_2 = {11,22,44}
list_1 = list(set_2)
set_1.add(list_1[1])
set_1

{4, 5, 6, 7, 8, 44}

In [73]:
#21. Create a set of the first 5 prime numbers.


set_1= set()
counter = 0
for x in range(2,50):
    for y in range(2,50):
        if x % y == 0 :
            break
    if x == y and counter < 5:
        set_1.add(x)
        counter += 1
        
tuple(set_1)

(2, 3, 5, 7, 11)

In [75]:
#22. Check if two sets are identical


set_1 = set(input('Enter the values for first set : ').split())
set_2 = set(input('Enter the values for second set : ').split())
print('set_1 =',set_1)
print('set_2 = ',set_2)
if set_1 == set_2:
    print('Yes, two set are identical ')
else:
    print('No, two set are not identical ')

Enter the values for first set :  1 2 3
Enter the values for second set :  1 2 3

set_1 = {'2', '1', '3'}
set_2 =  {'2', '1', '3'}
Yes, two set are identical

In [77]:
#23. Create a frozen set.

set_1 = {4,5,6,7,8}
frozenset(set_1)

frozenset({4, 5, 6, 7, 8})

In [80]:
#24. Check if a set is disjoint with another set.

set_1 = {4,5}
set_2 = {4,5,6,7,8}
print(set_1)
print(set_2)
print(set_1.isdisjoint(set_2))

set_1 = {1,2,3}
set_2 = {4,5,6,7,8}
print(set_1)
print(set_2)
print(set_1.isdisjoint(set_2))

{4, 5}
{4, 5, 6, 7, 8}
False
{1, 2, 3}
{4, 5, 6, 7, 8}
True

In [81]:
#25. Create a set of squares of numbers from 1 to 5.


set_1 = set()
for x in range(1,6):
    set_1.add(x**2)
print(set_1)

{1, 4, 9, 16, 25}

In [83]:
#26. Filter out all even numbers from a set.

set_1 = {1,2,3,4,5,6,7,8,9}
set_2 =  set()
for x in set_1:
    if x %2==0:
        set_2.add(x)

print(set_2)

{8, 2, 4, 6}

In [86]:
#27. Multiply all elements in a set by 2


set_1 = {1,2,3,4,5,6}
set_2 = set()
for x in set_1:
    set_2.add(x*2)
    
    
print('After multiplying all elements in a set by 2 : ', set_2)

After multiplying all elements in a set by 2 :  {2, 4, 6, 8, 10, 12}

In [89]:
#28. Create a set of random numbers

import random
set_1 = set()
for x in range(0,5):
    r = random.randint(0,100)
    set_1.add(r)

print(set_1)

{99, 10, 15, 47, 17}

In [94]:
#29. Check if a set is empty.


set_1 = set(input('Enter elements : ').split())
print(set_1)
if len(set_1) == 0:
    print('yes, set is empty.')
else:
    print('No, set is not  empty.')
    
#if you dont enter anything in input it will return empty set
#if you enter anything will consier it as emement and will return non-empty set.

Enter elements :  1 2  3

{'2', '1', '3'}
No, set is not  empty.

In [112]:
#30. Create a nested set (hint: use frozenset)


set_1 = {frozenset({1, 2}), frozenset({3, 4})}
print(set_1)

{frozenset({3, 4}), frozenset({1, 2})}

In [19]:
#31. Remove an element from a set using the discard method.

set_1 = {1,2,3,4,5,6}
for x in set_1.copy():
    set_1.discard(x)
print(set_1)

set()

In [22]:
#32. Compare two sets.

set_1 = {1,2,3}
set_2 = {4,5,6}

print('Elements in set_1 is equal to set_2 : ',set_1 == set_2)

Elements in set_1 is equal to set_2 :  False

In [24]:
#33. Create a set from a string.


set_1 = (input('Enter the values for set : '))
set_1 = set(set_1.split())
print(set_1)

Enter the values for set :  hi am rishi

{'hi', 'rishi', 'am'}

In [31]:
#34. Convert a set of strings to a set of integers.

set_1 = {'1','2','3'}
set_2 = set()
for x in set_1:
    set_2.add(int(x))
print(set_2)

{1, 2, 3}

In [32]:
#35. Convert a set of integers to a set of strings.

set_1 = {1, 2, 3}
set_2 = set()
for x in set_1:
    set_2.add(str(x))
print(set_2)

{'3', '2', '1'}

In [33]:
#36. Create a set from a tuple.

tuple_1 = (1,2,3,4,5)
set(tuple_1)

{1, 2, 3, 4, 5}

In [34]:
#37. Convert a set to a tuple.

set_1 = {1, 2, 3, 4, 5}
tuple(set_1)

(1, 2, 3, 4, 5)

In [35]:
#38. Find the maximum value in a set.


set_1 = {1, 2, 3, 4, 5}
max(set_1)

5

In [37]:
#39. Find the minimum value in a set.


set_1 = {1, 2, 3, 4, 5}
min(set_1)

1

In [39]:
#40. Create a set from user input.

set_1 = (input('Enter the values for set : ').split())
print(set_1)

Enter the values for set :  1 2 3 4 5

['1', '2', '3', '4', '5']

In [43]:
#41. Check if the intersection of two sets is empty.

set_1 = set(input('Enter the values for set_1 : ').split())
set_2 = set(input('Enter the values for set_2 : ').split())

if set_1.intersection(set_2) == set():
    print('intersection of two sets is empty.')
else:
    print('intersection of two sets is not empty.')

Enter the values for set_1 :  hi am rishi
Enter the values for set_2 :  hello

intersection of two sets is empty.

In [74]:
#42. Create a set of the first 5 Fibonacci numbers

list_1  = []
start =  0 
for x in range(0,7):
    if x <= 1 :
        list_1.append(x)
    else:
        y  = (list_1[-1]) + (list_1[-2])
        list_1.append(y)

print(set(list_1[1:]))

{1, 2, 3, 5, 8}

In [78]:
#43. Remove duplicates from a list using sets.

list_1  = [1,2,3,3,3,3,3,4,4,4,5,5,5]
list_1 = list(set(list_1))
list_1

[1, 2, 3, 4, 5]

In [80]:
#44. Check if two sets have the same elements, regardless of their count.


set_1 = set(input('Enter the values for set_1 : ').split())
set_2 = set(input('Enter the values for set_2 : ').split())

if set_1 == set_2:
    print('yes,both sets contain same elements')
else:
    print('No,both sets dont contain same elements')

Enter the values for set_1 :  1 3 3
Enter the values for set_2 :  1 3 3

yes,both sets contain same elements

In [85]:
#45. Create a set of the first `n` powers of 2.


n = int(input('Enter the value of n: '))
set_1 = set()
for x in range(1,n+1):
    set_1.add(2**x)
    
print('tuple of the first `n` powers of 2 is ',(set_1))

Enter the value of n:  3

tuple of the first `n` powers of 2 is  {8, 2, 4}

In [86]:
#46. Find the common elements between a set and a list.

set_1 = {1,2,3,4,5}
list_1 = [4,5,6,7,8]
set_1.intersection(set(list_1))

{4, 5}

In [88]:
#47. Create a set of the first `n` triangular numbers



set_1 = set()
n = int(input('Enter the value of n : '))
s1 = 0
s2 = 0
for x in range(1,n+1):
    s1 = s2+x
    set_1.add(s1)
    s2 = s1

    
print(set_1)

Enter the value of n :  4

{1, 10, 3, 6}

In [89]:
#48. Check if a set contains another set as a subset.


set_1 = {4,5}
set_2 = {4,5,6,7,8}
set_1.issubset(set_2)

True

In [1]:
#49. Create a set of alternating 1s and 0s of length `n`.

n = int(input('value of n : '))
set_1 = set()
for x in range(0,n):
    if x==0 or x % 2 ==0:
        set_1.add(1)
    else:
        set_1.add(0)
print(set_1)
print('It will return only {0, 1} as set dont keep the duplicate values ')

value of n :  4

{0, 1}
It will return only {0, 1} as set dont keep the duplicate values

In [3]:
#50. Merge multiple sets into one.

set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}
set_3 = {'A','B','C'}
set_1.union(set_2.union(set_3))

{1, 2, 3, 4, 5, 6, 7, 8, 'A', 'B', 'C'}